@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap'); 
 
 .login,.signup{
    
    h4 {
      font-size:  24px; 
      font-weight:  600; 
      color:  #000; 
      opacity:  .85; 
    }
    label {
      font-size:  12.5px; 
      color:  #000;
      opacity:  .8;
      font-weight:  400; 
    }
    form {
      padding:  20px 30px; 
      background:  #fefefe; 
      display:  flex; 
      flex-direction:  column;
      width:80%;
      align-items:  center; 
      padding-bottom:  20px; 
      h4 {
        margin-bottom:  20px;
        color:  rgba(#000, .5);
        span {
          color:  rgba(#000, 1);
          font-weight:  700; 
        }
      }
      p {
        line-height:  155%; 
        margin-bottom:  5px; 
        font-size:  14px; 
        color:  #000; 
        opacity:  .65;
        font-weight:  400; 
        margin-bottom:  40px; 
      }
    }
    .discrete {
        color:  rgba(#000, .4); 
        font-size:  15px; 
        padding-bottom:  4px;  
        font-weight:  400; 
        transition:  all .3s ease; 
        margin-top:  40px; 
      }
      .discrete a{
        color: var(--main-color);
        font-weight:  600;
        font-size:16px;
        text-decoration: underline;
      }
    button {
      width:  auto;
      min-width:  100px;
      border-radius:  14px; 
      text-align:  center; 
      padding:  15px 40px;
      margin-top:  5px; 
      background-color:  var(--red-color); 
      color:  #fff; 
      font-size:  14px;
      margin-left:  auto; 
      font-weight:  500; 
      box-shadow:  0px 2px 6px -1px rgba(0,0,0,.13); 
      border:  none;
      transition:  all .3s ease; 
      outline: 0; 
      &:hover {
        transform:  translateY(-3px);
        box-shadow:  0 2px 6px -1px rgba(rgb(182,157,230), .65);
        &:active {
          transform:  scale(.99);
        }
      }
    }
    
    
    .session {
      display:  flex; 
      flex-direction:  column; 
      align-items:center;
      width:  50%; 
      height:  80%; 
      justify-content:space-around;
      background:  #ffffff; 
      border-radius:  4px; 
      box-shadow:  0px 2px 6px -1px rgba(0,0,0,.12);
    }
    @keyframes shake-shake {
        0% { transform: translateX(-3px);}
        20% { transform: translateX(3px); }
        40% { transform: translateX(-3px);}
        60% { transform: translateX(3px);}  
        80% { transform: translateX(-3px);}
        100% { transform: translateX(0px);}
      }
 }
 .session .login{
  display:none;
 }
 .popup-content{
  border: 0 !important;
  border-radius:0.375rem;
 }
 .popup-content .login{
  height: fit-content !important;
 }
 .login,.signup{
    display: flex;
    height: 100vh;
    
      background-image: url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=1940");
      background-position:  bottom;
 }

 .i-big{
  font-size: 22px;
 }
.overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(50px);
}