@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
}
.TestView {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  height: 100vh;
  font-style: normal;
  display: flex;
}
.testname {
  font-size: 21px;
  font-weight: bold;
  margin: 0px 15px;
}
.top-wrapper {
  background-color: #3583cd;
  color: white;
}
.btn5 {
  display: none;
}
.row-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db; /* blue spinner */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.row-right {
  margin-left: auto;
}
.upper-head {
  margin: 0px auto;
  padding: 10px;
}
.testformat {
  font-size: 11px;
  height: fit-content;
  font-weight: 500;
  display: flex;
  align-items: center;
  background-color: #eca545;
  border-radius: 10px;
  padding: 4px 10px;
}
.section-head {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  /* padding: 10px; */
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* padding-top: 40px; */
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
  grid-gap: 24px;
}
.button-topics {
  background-color: #3583cd;
  border: 0px;
  padding: 7px;
  border-radius: 2px;
  font-size: 12px;
  color: white;
}
.flex-1 {
  flex: 1;
}
.flex0-1 {
  height: 100%;
}
.flex-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container {
  height: 100%;
}
.top-wrapper2 {
  background-color: #3583cd;
  width: 100vw;
  color: white;
  padding: 10px;
  border: 2px solid #3583cd;
}
.container2 {
  background-color: #f2f2f2;
  /* display: flex; */
  width: 100%;
  flex-direction: column;
}
.main-wrapper2 {
  background-color: #f2f2f2;
  width: 100%;
}
.question {
  overflow-wrap: anywhere;
  margin-top: 10px;
}
.questions-section {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 5px;

  padding: 20px;
  margin: 20px;
}
.question-answer {
  list-style: none;
}
.chosing-format {
  padding: 3px 7px;
  border-radius: 2px;
  font-weight: bold;
  width: fit-content;
  font-size: 12px;
  color: white;
  background-color: #3583cd;
}
.circles {
  background-color: rgb(243 244 246);
  color:rgb(31 41 55 );
  height: 2.5rem;
  width: 2.5rem;
  font-weight: 500;
  border-radius: 0.375rem;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 16px;
}
.name-section span {
  font-size: 18px;
}
.circles-index {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 1rem;
}
.question-answer > li {
  border-radius: 5px;
  list-style: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 10px 10px;
  margin: 10px 00px;
  margin-right: 0px;
}
.option1 {
  padding-top: -10px;
}
.question-number {
  font-size: 20px;
  font-weight: 600;
}
.column-bottom {
  background-color: #f2f2f2;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  flex: 1;
  position: sticky;
  bottom: 0px;
}
.buttons-check {
  display: flex;
  margin-top: auto;
  background-color: white;
  width: 100%;
  bottom: 0px;
  position: sticky;
}
.buttons-check .button {
  padding: 5px 10px;
  border-radius: 11px;
  font-size: 14px;
  color: white;
  margin: 10px 10px;
  display: flex;
  align-items: center;
}
.more-info {
  display: none;
}
.btn1 {
  background-color: #9588b7;
  margin-left: auto !important;
}
.btn2 {
  background-color: #d25c42;
}
.btn3 {
  background-color: #8ab683;
}
.btn4 {
  background-color: #3886c8;
  /* margin-left: auto !important; */
}
.question-analysis {
  /* border: 1px solid grey; */
  width: 30%;
  background-color: white;
}
.right-top-header {
  background-color: #3583cd;
  color: white;
  align-items: center;
}
.top-buttons {
  margin: 0px;
  flex: 1;
  background: var(--dark-purple-color);
  padding: 10px;
  text-align: center;
}
.sectionnames {
  padding: 20px;
  font-size: 14px;
}
.sectionnames > div {
  border-bottom: 1px solid grey;
  font-weight: 500;
  padding: 10px 0;
}
.check-attempt > div {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  color: white;
  margin: 10px 8px;
  display: inline-block;
}
.sidebar2 {
  display: none;
}

.box {
  background: #ddd;
  color: black;
  margin-top: 12px;
  padding: 10px 12px;
  display: flex;
  border-radius: 5px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.25s ease;
}
.box-chosen {
  background: #d5bbf7;
  margin-top: 12px;
  padding: 10px 12px;
  display: flex;
  border-radius: 5px;
  border: 2px solid #8e49e8;
  color: black;
  cursor: pointer;
  transition: all 0.25s ease;
}
.box:hover {
  background: #d5bbf7;
}

.box-border {
  border: 2px solid #8e49e8;
  background: #d5bbf7;
  margin-top: 12px;
  padding: 10px 12px;
  display: flex;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.25s ease;
}
.plan {
  display: flex;
  width: 100%;
  align-items: center;
}
/* .question-answer input[type="radio"]{
  display: none;
} */
.test-instruction > p,
.test-instruction h3,
.test-instruction > div {
  padding-bottom: 10px;
}
.bottom {
  padding: 10px 20px;
  background-color: #ddd;
  bottom: 0px;
  position: sticky;
  margin-top: auto;
}
.red {
  background-color: var(--red-color);
  color: white;
}
.violet {
  background-color: #8e49e8;
  color: white;
}
.mr-10 {
  margin-right: 10px;
}
.circles-index {
  .green{
    --tw-bg-opacity: 1;
    background-color: rgb(220 252 231 / var(--tw-bg-opacity, 1));
    color: rgb(22 101 52 / var(--tw-bg-opacity, 1))
  }
  .indigo{
    background-color:rgb(79 70 229 );
    color: white;
  }
  .yellow{
    --tw-text-opacity: 1;
    background-color: rgb(254 249 195 / var(--tw-text-opacity, 1));
    color: rgb(133 77 14 / var(--tw-text-opacity, 1));

    &:hover{
      background-color: rgb(254 240 138 )
    }
  }
  
}


.green {
  background-color: green;
  color: white;
}
.grey {
  background-color: grey;
  color: white;
}
.bottom button {
  width: 90%;
}
.point-container {
  display: flex;
  margin: 20px 0;
  flex-wrap: wrap;
}
.point {
  margin-right: 5px;
  padding: 6px;
  border-radius: 50%;
}
